/* Write your CSS code here */
.not-found-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found-image {
  height: 250px;
  width: 250px;
}

@media screen and (min-width: 992px) {
  .not-found-image {
      height: 300px;
      width: 300px;
  }
}

.not-found-heading {
  color: #6d396b;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 500;
}

@media screen and (min-width: 992px) {
  .not-found-heading {
      font-size: 48px;
  }
}