/* Write your CSS code here */
.home-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-image {
  height: 150px;
  width: 150px;
}

@media screen and (min-width: 992px) {
  .home-image {
      height: 200px;
      width: 200px;
  }
}

.home-heading {
  color: #6d396b;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 500;
}

@media screen and (min-width: 992px) {
  .home-heading {
      font-size: 48px;
  }
}